menu "Select Network RF Component"

config BUILD_COMPONENT_CSS
	bool "NETWORK CSS"
	default 0
	help
	  apply network CSS component.

config BUILD_COMPONENT_RUCI
	bool "NETWORK RUCI"
	default y
	help
	  apply network RUCI component.

config BUILD_COMPONENT_LMAC5P4
	bool "NETWORK LMAC 15P4"
	default 0
	help
	  apply network lmac 15p4 component.
	  
config BUILD_COMPONENT_RT569
	bool "NETWORK RT569 RF"
	default 1
	select BUILD_COMPONENT_RT569_RF
	select BUILD_COMPONENT_RT569_FW
	help
	  apply network RT569 RF component.

if RF1301 || RT584H ||  RT584HA4 || RT584L

choice RF_TX_POWER
	prompt "Select RF TX Configuration"
	default RF_POWER_0DBM
	
if RF1301
config RF_POWER_0DBM
	bool "RF TX  0dbm Configuration"

config RF_POWER_14DBM
	bool "RF TX 14dbm Configuration"

config RF_POWER_20DBM
	bool "RF TX 20dbm Configuration"

endif

if RT584L

config RF_POWER_0DBM
	bool "RF TX  0dbm Configuration"

config RF_POWER_10DBM
	bool "RF TX 10dbm Configuration"

endif

if RT584H || CONFIG_RT584HA4

config RF_POWER_0DBM
	bool "RF TX  0dbm Configuration"

config RF_POWER_20DBM
	bool "RF TX 20dbm Configuration"

endif

endchoice

endif

config BUILD_COMPONENT_RT569_RF
	bool "NETWORK RT569 RF"
    depends on BUILD_COMPONENT_RT569
	default 0
	help
	  apply network RT569 RF component.

config BUILD_COMPONENT_RT569_FW
	bool "NETWORK RT569 FW"
    depends on BUILD_COMPONENT_RT569
	default 0
	help
	  apply network RT569 MP component.

config TEMP_VOL_COMP_PERIOD
	int "TEMP VOL COMP PERIOD"
	default 1
	range 0 60

endmenu