menu "UTLITY"

menu "UART Console"
config UART_STDIO_PORT
    int "UART stdio port"
	def_int 0
    help
        UART stdio port

config UART_STDIO_TX_PIN
    int "UART stdio tx pin"
    def_int 17
    range 0 32

config UART_STDIO_RX_PIN
    int "UART stdio rx pin"
    def_int 16
    range 0 32

config UART_STDIO_BAUDRATE
    int "UART stdio baudrate"
	def_int 2000000
    help
        UART stdio baudrate
endmenu

menu "Sofware timer"

config SW_TIMER_ENABLE_DEBUG
    bool "Enable debug log"
	def_bool false
endmenu

config LOG_MAX_LEVEL
    int "log level (debug: 0, info: 1, warn: 2, error: 3)"
	def_int 1
        

endmenu