menu "Select Utility"

config BUILD_COMPONENT_LOG
	bool "UTILITY LOG"
	default 0	
	select BUILD_COMPONENT_UART_STDIO
	select BUILD_COMPONENT_UTILITY
	help
	  apply utility log component.

config LOG_MAX_LEVEL
	depends on BUILD_COMPONENT_LOG
    int "log level (debug: 0, info: 1, warn: 2, error: 3)"
	default 0

config BUILD_COMPONENT_UART_STDIO
	bool "UTILITY UART STDIO"
	default y
	help
	  apply utility uart stdio component.

config UART_STDIO_PORT
	depends on BUILD_COMPONENT_UART_STDIO
	int "UART stdio port"
	default 0
	help
			UART stdio port
config UART_STDIO_TX_PIN
	depends on BUILD_COMPONENT_UART_STDIO
	int "UART stdio tx pin"
	default 17
	range 0 32

config UART_STDIO_RX_PIN
	depends on BUILD_COMPONENT_UART_STDIO
	int "UART stdio rx pin"
	default 16
	range 0 32

config UART_STDIO_BAUDRATE
	depends on BUILD_COMPONENT_UART_STDIO
	int "UART stdio baudrate"
	default 2000000
	help
		UART stdio baudrate

config BUILD_COMPONENT_UTILITY
	bool "UTILITY BASIC"
	default n
	help
	  apply utility basic component.
	  
config BUILD_COMPONENT_CLI
	bool "UTILITY CLI"
	default n
	help
	  apply utility cli component.

config BUILD_COMPONENT_NEWLIBC
	bool "RAFAEL LIBC"
	default n

config BUILD_COMPONENT_SYSLOG
	bool "UTILITY SYSTEM LOG"
	
config BUILD_COMPONENT_SW_TIMER
	bool "UTILITY SW TIMER"

config SW_TIMER_ENABLE_DEBUG
	depends on BUILD_COMPONENT_SW_TIMER
    bool "Enable debug log"
	def_bool false
	
config BUILD_COMPONENT_ENHANCED_FLASH_DATASET
	bool "UTILITY ENHANCED FLASH DATASET"
	default n
	help
	  apply utility Enhanced Flash Dataset component.

config BUILD_COMPONENT_LZMADEC
	bool "LZMA library"
	default n

config BUILD_COMPONENT_VERSION_INFO
	bool "Version info"
	default n

config BUILD_COMPONENT_DUMP_BOOT_INFO
	bool "DUMP BOOT INFO"
	default n

endmenu

