menu "OPEN THREAD Component"

config BUILD_COMPONENT_OPENTHREAD
	bool "THREAD OPENTHREAD"
	select BUILD_COMPONENT_OPENTHREAD_PORT
	default 0
	help
	  apply network openthread component.

config BUILD_COMPONENT_OPENTHREAD_SUBG
	bool "THREAD OPENTHREAD SUBG"
	select BUILD_COMPONENT_OPENTHREAD_PORT
	default 0
	help
	  apply network openthread sub-g component.

config BUILD_COMPONENT_OPENTHREAD_PORT
	bool "THREAD OPENTHREAD PAL"
	select BUILD_COMPONENT_LMAC5P4
	default 0
	help
	  apply network openthread PAL APIs acomponent.

endmenu



menu "THREAD"
config RADIO_2P4GHZ_OQPSK_SUPPORT
    depends on BUILD_COMPONENT_OPENTHREAD
    bool "2.4G"
	def_bool false
    help
        2.4G

config RADIO_SUBGHZ_OQPSK_SUPPORT
    depends on BUILD_COMPONENT_OPENTHREAD_SUBG
    bool "Sub-G"
	def_bool false
    help
        Sub-G
config SUBG_FREQUENCY_BAND_915
    bool
config SUBG_FREQUENCY_BAND_868
    bool
config SUBG_FREQUENCY_BAND_470
    bool
config SUBG_FREQUENCY_BAND_433
    bool
    

config OPENTHREAD_TASK_SIZE
    int "OPENTHREAD TASK SIZE"
    default 4096
    help
        OPENTHREAD TASK SIZE

menu "OT DEVICE ROLE"
choice OT_DEVICE_ROLE
prompt "OT DEVICE ROLE"
default OT_DEVICE_TYPE_FTD

config OT_DEVICE_TYPE_FTD
    bool "FTD (Full Thread Device)"

config OT_DEVICE_TYPE_MTD
    bool "MTD (Minimal Thread Device)"

config OT_DEVICE_TYPE_RCP
    bool "RCP (Router Co-Processor)"
endchoice
endmenu


choice OT_RCP_INTERFACE
depends on OT_DEVICE_TYPE_RCP
prompt "OT RCP INTERFACE"
default OT_RCP_HDLC

config OT_RCP_HDLC
    bool "HDLC"

config OT_RCP_EZMESH
    bool "EZMESH"

endchoice
endmenu