menu "BLE Component"

config BUILD_COMPONENT_BLUETOOTH
	bool "NETWORK BLUETOOTH"
	default 0
	help
	  apply network BLUETOOTH component.

config BUILD_COMPONENT_BLUETOOTH_HCI_BRIDGE
	depends on BUILD_COMPONENT_BLUETOOTH
	bool "NETWORK BLUETOOTH HIC BRIDGE"
	default 1

config BUILD_COMPONENT_BLUETOOTH_LE_HOST
	depends on BUILD_COMPONENT_BLUETOOTH
	bool "NETWORK BLUETOOTH LE HOST"
	default 0

if BUILD_COMPONENT_BLUETOOTH_LE_HOST
config SUPPORT_PAWR
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	int "SUPPORT PAWR"
	default 0
	range 0 1
endif

config BUILD_COMPONENT_BLUETOOTH_LE_MESH
	depends on BUILD_COMPONENT_BLUETOOTH
	bool "NETWORK BLUETOOTH LE MESH"
	default 0

if BUILD_COMPONENT_BLUETOOTH_LE_MESH
config SUPPORT_MESH_SERVER
	depends on BUILD_COMPONENT_BLUETOOTH
	bool "SUPPORT BLE MESH SERVER"
	default 0

config SUPPORT_MESH_CLIENT
	depends on BUILD_COMPONENT_BLUETOOTH
	bool "SUPPORT BLE MESH CLIENT"
	default 0
endif

if BUILD_COMPONENT_BLUETOOTH_LE_HOST
menu "SELECT SUPPORT BLE SERVICES"
config BLUETOOTH_LE_SERVICE_GAP
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	bool "BLUETOOTH LE SERVICE GAP"
	default 0

config BLUETOOTH_LE_SERVICE_DIS
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	bool "BLUETOOTH LE SERVICE DIS"
	default 0

config BLUETOOTH_LE_SERVICE_GATT
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	bool "BLUETOOTH LE SERVICE GATT"
	default 0

config BLUETOOTH_LE_SERVICE_BAS
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	bool "BLUETOOTH LE SERVICE BAS"
	default 0

config BLUETOOTH_LE_SERVICE_BLS
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	bool "BLUETOOTH LE SERVICE BLS"
	default 0

config BLUETOOTH_LE_SERVICE_FOTA
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	bool "BLUETOOTH LE SERVICE FOTA"
	default 0

config BLUETOOTH_LE_SERVICE_HID
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	bool "BLUETOOTH LE SERVICE HID"
	default 0

config BLUETOOTH_LE_SERVICE_HRS
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	bool "BLUETOOTH LE SERVICE HRS"
	default 0

config BLUETOOTH_LE_SERVICE_MESH
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	bool "BLUETOOTH LE SERVICE MESH"
	default 0

config BLUETOOTH_LE_SERVICE_TRSP
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	bool "BLUETOOTH LE SERVICE TRSP"
	default 0

config BLUETOOTH_LE_SERVICE_MATTER
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	bool "BLUETOOTH LE SERVICE MATTER"
	default 0

config BLUETOOTH_LE_SERVICE_ESLS
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	bool "BLUETOOTH LE SERVICE ESL"
	default 0

config BLUETOOTH_LE_SERVICE_OTS
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	bool "BLUETOOTH LE SERVICE OTS"
	default 0

endmenu

menu "BLE MAX LINK NUM"
config BLE_SUPPORT_NUM_CONN_MAX
    int "Bluetooth LE MAX LINK NUM"
	def_int 1
    range 0 8
endmenu
endif # BUILD_COMPONENT_BLUETOOTH_LE_HOST

if BUILD_COMPONENT_BLUETOOTH_LE_MESH
menu "SELECT SUPPORT BLE MESH MODELS"

config BLUETOOTH_LE_MESH_MODEL_GENERICS_BATTERY
	depends on BUILD_COMPONENT_BLUETOOTH_LE_MESH
	bool "BLUETOOTH LE MESH MODEL GENERICS BATTERY"
	default 0

config BLUETOOTH_LE_MESH_MODEL_GENERICS_DEFAULT_TRANS_TIME
	depends on BUILD_COMPONENT_BLUETOOTH_LE_MESH
	bool "BLUETOOTH LE MESH MODEL GENERICS DEFAULT TRANS TIME"
	default 0

config BLUETOOTH_LE_MESH_MODEL_GENERICS_LEVEL
	depends on BUILD_COMPONENT_BLUETOOTH_LE_MESH
	bool "BLUETOOTH LE MESH MODEL GENERICS LEVEL"
	default 0

config BLUETOOTH_LE_MESH_MODEL_GENERICS_LOCATION
	depends on BUILD_COMPONENT_BLUETOOTH_LE_MESH
	bool "BLUETOOTH LE MESH MODEL GENERICS LOCATION"
	default 0

config BLUETOOTH_LE_MESH_MODEL_GENERICS_ONOFF
	depends on BUILD_COMPONENT_BLUETOOTH_LE_MESH
	bool "BLUETOOTH LE MESH MODEL GENERICS ONOFF"
	default 0

config BLUETOOTH_LE_MESH_MODEL_GENERICS_POWER_LEVEL
	depends on BUILD_COMPONENT_BLUETOOTH_LE_MESH
	bool "BLUETOOTH LE MESH MODEL GENERICS POWER LEVEL"
	default 0

config BLUETOOTH_LE_MESH_MODEL_GENERICS_POWER_ONOFF
	depends on BUILD_COMPONENT_BLUETOOTH_LE_MESH
	bool "BLUETOOTH LE MESH MODEL GENERICS POWER ONOFF"
	default 0

config BLUETOOTH_LE_MESH_MODEL_LIGHTING_LIGHTNESS
	depends on BUILD_COMPONENT_BLUETOOTH_LE_MESH
	bool "BLUETOOTH LE MESH MODEL LIGHTING LIGHTNESS"
	default 0

config BLUETOOTH_LE_MESH_MODEL_SCENE
	depends on BUILD_COMPONENT_BLUETOOTH_LE_MESH
	bool "BLUETOOTH LE MESH MODEL SCENE"
	default 0

config BLUETOOTH_LE_MESH_MODEL_VENDOR
	depends on BUILD_COMPONENT_BLUETOOTH_LE_MESH
	bool "BLUETOOTH LE MESH MODEL VENDOR"
	default 0

config BLUETOOTH_LE_MESH_MODEL_SERVER
	depends on BUILD_COMPONENT_BLUETOOTH_LE_MESH
	bool "BLUETOOTH LE MESH MODEL SERVER"
	default 0

config BLUETOOTH_LE_MESH_MODEL_CLIENT
	depends on BUILD_COMPONENT_BLUETOOTH_LE_MESH
	bool "BLUETOOTH LE MESH MODEL CLIENT"
	default 0

endmenu
endif # BUILD_COMPONENT_BLUETOOTH_LE_MESH

endmenu
