menu "Select Crypto"

if (RF1301 || RT584H ||  RT584HA4 || RT584L)
config CRYPTO
	select CRYPTO_AES_ENABLE
	select CRYPTO_C25519_ENABLE
	select CRYPTO_SECP256R1_ENABLE
	select CRYPTO_SECP192R1_ENABLE
	select CRYPTO_SECT163R2_ENABLE	
	select CRYPTO_SM3_ENABLE
	select CRYPTO_SM4_ENABLE
	select CRYPTO_SM2P256V1_ENABLE
	select CRYPTO_SM2_P192_ENABLE	
	help
	  apply crytpo component.	
endif

if (RT581 || RT582 || RT583 || RT582_NONE_OS)
config CRYPTO
	select CRYPTO_AES_ENABLE
	select CRYPTO_C25519_ENABLE
	select CRYPTO_SECP256R1_ENABLE
	select CRYPTO_SECP192R1_ENABLE
	select CRYPTO_SECT163R2_ENABLE	
	help
	  apply crytpo component.	
endif

config CRYPTO_AES_ENABLE
	bool "CRYPTO_AES_ENABLE"
	default 1
	help
	  apply crytpo aes component.

config CRYPTO_C25519_ENABLE
    bool "CRYPTO_C25519_ENABLE"
    default 1

config CRYPTO_SECP256R1_ENABLE
    bool "CRYPTO_SECP256R1_ENABLE"
    default 1

config CRYPTO_SECP192R1_ENABLE
    bool "CRYPTO_SECP192R1_ENABLE"
    default 1

config CRYPTO_SECT163R2_ENABLE
    bool "CRYPTO_SECT163R2_ENABLE"
    default 1

if RF1301 || RT584H || RT584HA4 || RT584L

config CRYPTO_SM3_ENABLE
    bool "CRYPTO_SM3_ENABLE"
    default 1

config  CRYPTO_SM4_ENABLE
    bool "CRYPTO_SM4_ENABLE"
    default 1

config  CRYPTO_SM2P256V1_ENABLE
    bool "CRYPTO_SM2P256V1_ENABLE"
    default 1

 config  CRYPTO_SM2_P192_ENABLE
    bool "CRYPTO_SM2_P192_ENABLE"
    default 1 
endif

endmenu