menu "Select CPC Component"

config BUILD_COMPONENT_CPC
	bool "CPC"
	default 0
	select BUILD_COMPONENT_SW_TIMER
	help
	  apply CPC component.
	  
if BUILD_COMPONENT_CPC

config CPC_RX_PAYLOAD_MAX_LENGTH
    int "Rx payload max length"
	def_int 620
    help
        Rx payload max length

config CPC_CRC_0
    bool "CRC algorithm - 0"
	def_bool false

config CPC_ENABLE_ZIGBEE
    bool "Suport ZIGBEE"
	def_bool ture

config CPC_ENABLE_THREAD
    bool "Suport thread"
	def_bool ture

config CPC_ENABLE_BLUETOOTH
    bool "Suport bluetooth"
	def_bool ture

config CPC_UART_CAPABILITIES_HWFC
    depends on APP_EZMESH_OPERATION_UART_FLOW_CONTROL
    bool "Enable UART Hardware flow control"
    def_bool ture

endif
endmenu





