
#
# -------- SDK   Configuration --------
#
# CONFIG_RT581 is not set
# CONFIG_RT582 is not set
# CONFIG_RT583 is not set
# CONFIG_RT584H is not set
CONFIG_RF1301=y
# CONFIG_RT584L is not set
# CONFIG_RT582_NONE_OS is not set
# CONFIG_RT584_NONE_OS is not set
CONFIG_CHIP="RF1301"
CONFIG_CPU_COMPILER_FLAG="-mcpu=cortex-m33"
CONFIG_FREERTOS=y
CONFIG_HOSAL=y
CONFIG_DRIVER=y
CONFIG_CRYPTO=y
# CONFIG_HELLOWORLD is not set
# CONFIG_BASIC_EXAMPLE is not set
# CONFIG_BLUETOOTH_LE_EXAMPLE is not set
# CONFIG_THREAD_EXAMPLE is not set
CONFIG_SUBG_EXAMPLE=y
# CONFIG_ZIGBEE_EXAMPLE is not set
# CONFIG_HCI_RAW is not set
# CONFIG_MULTI_PROTOCOL_RCP is not set
# CONFIG_RF_EV_UB is not set
# CONFIG_RF_LABTEST_TOOL is not set
CONFIG_CRYPTO_AES_ENABLE=y
CONFIG_CRYPTO_C25519_ENABLE=y
CONFIG_CRYPTO_SECP256R1_ENABLE=y
CONFIG_CRYPTO_SECP192R1_ENABLE=y
CONFIG_CRYPTO_SECT163R2_ENABLE=y
CONFIG_CRYPTO_SM3_ENABLE=y
CONFIG_CRYPTO_SM4_ENABLE=y
CONFIG_CRYPTO_SM2P256V1_ENABLE=y
CONFIG_CRYPTO_SM2_P192_ENABLE=y
CONFIG_APP_TASK_STACK_SIZE=2048
CONFIG_APP_TASK_PRIORITY=15
CONFIG_SUBG_FREQUENCY_BAND_915=y
# CONFIG_SUBG_FREQUENCY_BAND_868 is not set
# CONFIG_SUBG_FREQUENCY_BAND_470 is not set
# CONFIG_SUBG_FREQUENCY_BAND_433 is not set
# CONFIG_SUBG_SAMPLE is not set
# CONFIG_SUBG_WAKE_ON_RADIO is not set
CONFIG_MESH_IT_UP_EXAMPLE=y
# CONFIG_MESH_IT_UP_FTD is not set
CONFIG_MESH_IT_UP_MTD=y
# CONFIG_MESH_IT_UP_SNIFFER is not set

#
# PROJECT CONFIG
#
# end of PROJECT CONFIG

#
# SUBG Component
#
CONFIG_BUILD_COMPONENT_SUBG_CTRL=y
CONFIG_BUILD_COMPONENT_MESH_IT_UP=y
# end of SUBG Component

CONFIG_SUBG_DATA_RATE_FSK_300K=y
# CONFIG_SUBG_DATA_RATE_FSK_200K is not set
# CONFIG_SUBG_DATA_RATE_FSK_100K is not set
# CONFIG_SUBG_DATA_RATE_FSK_50K is not set
# CONFIG_SUBG_DATA_RATE_OQPSK_25K is not set

#
# MIU OPENTHREAD TASK SIZE
#
CONFIG_MIU_OPENTHREAD_TASK_SIZE=4096
# end of MIU OPENTHREAD TASK SIZE

CONFIG_MIU_DEVICE_TYPE_MTD=y
# CONFIG_BOOTLOADER_APP is not set
# CONFIG_HOSAL_SOC_DISABLE_MP_SECTOR_INIT is not set

#
# Select Board type and Peripheral
#
CONFIG_EVB=y
# CONFIG_DONGLE is not set
CONFIG_BOARD="EVB"

#
# EVK Board Config
#
CONFIG_HOSAL_SOC_MAIN_ENTRY_TASK_SIZE=512
CONFIG_HOSAL_SOC_MAIN_ENTRY_TASK_PRIORITY=5
CONFIG_HOSAL_SOC_IDLE_SLEEP=y
CONFIG_HOSAL_SOC_SLEEP_TIMER_ID=4
CONFIG_HOSAL_SOC_TARGET_CUSTOMER=""
# end of EVK Board Config

#
# RT584 EVB
#
# end of RT584 EVB

CONFIG_TRUST_ZONE_SECURE=y
CONFIG_TRUST_ZONE="TRUST_ZONE_SECURE"

#
# Peripheral Securiy
#
CONFIG_AUX_COMP_SECURE_EN=y
CONFIG_BOD_COMP_SECURE_EN=y
CONFIG_COMM_SUBSYSTEM_AHB_SECURE_EN=y
CONFIG_DMA0_SECURE_EN=y
CONFIG_DMA1_SECURE_EN=y
CONFIG_DPD_SECURE_EN=y
CONFIG_FLASHCTRL_SECURE_EN=y
CONFIG_GPIO_SECURE_EN=y
CONFIG_I2C_MASTER0_SECURE_EN=y
CONFIG_I2C_MASTER1_SECURE_EN=y
CONFIG_I2C_SLAVE_SECURE_EN=y
CONFIG_I2S0_SECURE_EN=y
CONFIG_IRM_SECURE_EN=y
CONFIG_PWM_SECURE_EN=y
CONFIG_QSPI0_SECURE_EN=y
CONFIG_QSPI1_SECURE_EN=y
CONFIG_RCO1M_CAL_SECURE_EN=y
CONFIG_RCO32K_CAL_SECURE_EN=y
CONFIG_RTC_SECURE_EN=y
CONFIG_SADC_SECURE_EN=y
CONFIG_SLOWTIMER0_SECURE_EN=y
CONFIG_SLOWTIMER1_SECURE_EN=y
CONFIG_SOC_PMU_SECURE_EN=y
CONFIG_SWI0_SECURE_EN=y
CONFIG_SWI1_SECURE_EN=y
CONFIG_SYSCTRL_SECURE_EN=y
CONFIG_TIMER0_SECURE_EN=y
CONFIG_TIMER1_SECURE_EN=y
CONFIG_TIMER2_SECURE_EN=y
CONFIG_UART0_SECURE_EN=y
CONFIG_UART1_SECURE_EN=y
CONFIG_UART2_SECURE_EN=y
CONFIG_WDT_SECURE_EN=y
CONFIG_XDMA_SECURE_EN=y
# end of Peripheral Securiy

#
# Peripheral
#
CONFIG_PERIPHERAL_DMA=y
CONFIG_PERIPHERAL_PWM=y
CONFIG_PERIPHERAL_I2S=y
CONFIG_PERIPHERAL_I2C=y
CONFIG_PERIPHERAL_SPI=y
CONFIG_PERIPHERAL_SADC=y
CONFIG_PERIPHERAL_RTC=y
CONFIG_PERIPHERAL_TIMER=y
CONFIG_PERIPHERAL_SWI=y
CONFIG_PERIPHERAL_AUX_COMP=y
CONFIG_PERIPHERAL_BOD_COMP=y
CONFIG_PERIPHERAL_IRM=y
CONFIG_RCO32K_ENABLE=y
# CONFIG_RCO16K_ENABLE is not set
# CONFIG_RCO20K_ENABLE is not set
# end of Peripheral
# end of Select Board type and Peripheral

#
# Select CPC Component
#
# CONFIG_BUILD_COMPONENT_CPC is not set
# end of Select CPC Component

#
# Select Network RF Component
#
# CONFIG_BUILD_COMPONENT_CSS is not set
CONFIG_BUILD_COMPONENT_RUCI=y
CONFIG_BUILD_COMPONENT_LMAC5P4=y
CONFIG_BUILD_COMPONENT_RT569=y
CONFIG_RF_POWER_0DBM=y
# CONFIG_RF_POWER_10DBM is not set
CONFIG_BUILD_COMPONENT_RT569_RF=y
CONFIG_BUILD_COMPONENT_RT569_FW=y
CONFIG_TEMP_VOL_COMP_PERIOD=1
# end of Select Network RF Component

#
# Select Supported FW Images
#
CONFIG_RF_FW_INCLUDE_PCI=y
# CONFIG_RF_FW_INCLUDE_BLE is not set
# CONFIG_RF_FW_INCLUDE_MULTI_2P4G is not set
# CONFIG_RF_FW_INCLUDE_MAC_ACC is not set
# CONFIG_RF_FW_INCLUDE_HYBRID_INST is not set
# CONFIG_RF_FW_INCLUDE_INTERNAL_TEST is not set
# end of Select Supported FW Images

#
# Select Crypto
#
# end of Select Crypto

#
# Select Utility
#
CONFIG_BUILD_COMPONENT_LOG=y
CONFIG_LOG_MAX_LEVEL=2
CONFIG_BUILD_COMPONENT_UART_STDIO=y
CONFIG_UART_STDIO_PORT=0
CONFIG_UART_STDIO_TX_PIN=17
CONFIG_UART_STDIO_RX_PIN=16
CONFIG_UART_STDIO_BAUDRATE=115200
CONFIG_BUILD_COMPONENT_UTILITY=y
# CONFIG_BUILD_COMPONENT_CLI is not set
CONFIG_BUILD_COMPONENT_NEWLIBC=y
# CONFIG_BUILD_COMPONENT_SYSLOG is not set
# CONFIG_BUILD_COMPONENT_SW_TIMER is not set
CONFIG_BUILD_COMPONENT_ENHANCED_FLASH_DATASET=y
# CONFIG_BUILD_COMPONENT_LZMADEC is not set
CONFIG_BUILD_COMPONENT_VERSION_INFO=y
CONFIG_BUILD_COMPONENT_DUMP_BOOT_INFO=y
# end of Select Utility

CONFIG_BUILD_PORJECT="miu-mtd"

#
# Select Compiler Optimization
#
# CONFIG_OPT_DEFAULT is not set
# CONFIG_OPT_O0 is not set
# CONFIG_OPT_O1 is not set
# CONFIG_OPT_O2 is not set
# CONFIG_OPT_O3 is not set
# CONFIG_OPT_Ofast is not set
# CONFIG_OPT_Og is not set
CONFIG_OPT_Os=y
# CONFIG_OPT_Oz is not set
CONFIG_COMPILE_OPTIMIZATION="-Os"
CONFIG_CUSTOM_COMPILE_FLAG=""
# end of Select Compiler Optimization
