menu "PROJECT CONFIG"

config APP_TASK_STACK_SIZE
    int "Application task stack size"
	range 256 4096
    default 2048

config APP_TASK_PRIORITY
    int "Application task priority"
    range 10 30
    default 15

endmenu

