choice CHIP_TYPE
	prompt "Select Chip Type"
	default RT582

config RT581
	bool "RT581"
config RT582
	bool "RT582"
config RT583
	bool "RT583"
config RT584H
	bool "RT584H"
config RT584HA4
	bool "RT584HA4"	
config RF1301
	bool "RF1301"
config RT584L
	bool "RT584L"
config RT582_NONE_OS
	bool "RT582_NONE_OS"
config RT584H_NONE_OS
	bool "RT584H_NONE_OS"
config RT584L_NONE_OS
	bool "RT584L_NONE_OS"
config RF1301_NONE_OS
	bool "RF1301_NONE_OS"
config RT584HA4_NONE_OS
	bool "RT584HA4_NONE_OS"
endchoice

config CHIP
    string
    default "RT581" if RT581
    default "RT582" if RT582
    default "RT583" if RT583
    default "RF1301" if RF1301
	default "RT584H" if RT584H
	default "RT584H" if RT584HA4
	default "RT584L" if RT584L
	default "RT582_NONE_OS" if RT582_NONE_OS
	default "RT584H_NONE_OS" if RT584H_NONE_OS
	default "RT584L_NONE_OS" if RT584L_NONE_OS
	default "RF1301_NONE_OS" if RF1301_NONE_OS
	default "RT584HA4_NONE_OS" if RT584HA4_NONE_OS


if RT581 || RT582 || RT583 || RT582_NONE_OS

config CPU_COMPILER_FLAG
	string
	default "-mcpu=cortex-m3"
endif

if RT584H || RT584HA4 || RT584L || RF1301 || RT584H_NONE_OS || RT584L_NONE_OS || RF1301_NONE_OS || RT584HA4_NONE_OS

config CPU_COMPILER_FLAG
	string
	default "-mcpu=cortex-m33"
endif

if  (RT581 || RT582 || RT583 || RT584H ||  RT584HA4 || RT584L || RF1301)
config FREERTOS
		bool
		default y	
endif

if (RT582_NONE_OS || RT584H_NONE_OS || RT584L_NONE_OS || RF1301_NONE_OS || RT584HA4_NONE_OS) 
config FREERTOS
		bool
		default n	
endif

	config HOSAL
		bool
		default y

	config DRIVER
		bool
		default y

	config CRYPTO
		bool
		default y	



