menu "Select Board type and Peripheral"

choice BORD_TYPE
	prompt "Board Type"

if RT582_NONE_OS || RT584H_NONE_OS || RT584L_NONE_OS || RF1301_NONE_OS || RT584HA4_NONE_OS
config BOOTLOADER
	bool "Boot Loader"
endif # RT582_NONE_OS || RT584H_NONE_OS || RT584L_NONE_OS || RF1301_NONE_OS || RT584HA4_NONE_OS

if RT581 || RT582 || RT583 || RF1301 || RT584H ||  RT584HA4 || RT584L
config EVB
	bool "EVB"

config DONGLE
	bool "DONGLE"

endif # RT581 || RT582 || RT583 || RF1301 || RT584H ||  RT584HA4 || RT584L

endchoice

config BOARD
    string 
    default "EVB" if EVB
    default "DONGLE" if DONGLE
	default "BOOTLOADER" if BOOTLOADER
    default "NONE" if NONE

source "config/components/platform/soc/platform_board.config"
source "config/components/platform/soc/platform_peripheral.config"
endmenu

