menu "Basic Examples"

choice 
        prompt "Select Peripheral"
        default PERIPHERAL_EXAMPLE_GPIO

if RT584H || RT584HA4 || RT584L || RF1301
config PERIPHERAL_EXAMPLE_AUX
    bool "Peripheral_AUX"

config PERIPHERAL_EXAMPLE_BOD
    bool "Peripheral_BOD"
endif # RT584HA4 || RT584H || RT584L || RF1301

if RT581 || RT582 || RT583
config PERIPHERAL_EXAMPLE_COMP
    bool "Peripheral_COMP"
endif #RT581 || RT582 || RT583

config PERIPHERAL_EXAMPLE_CRYPTO
    bool "Peripheral_CRYPTO"

config PERIPHERAL_EXAMPLE_DMA
    bool "Peripheral_DMA"

config PERIPHERAL_EXAMPLE_FLASH
    bool "Peripheral_FLASH"

config PERIPHERAL_EXAMPLE_GPIO
    bool "Peripheral_GPIO"

config PERIPHERAL_EXAMPLE_I2C
    bool "Peripheral_I2C"

config PERIPHERAL_EXAMPLE_I2S
    bool "Peripheral_I2S"

if  RT584HA4 || RT584H || RT584L || RF1301
config PERIPHERAL_EXAMPLE_IRM
    bool "Peripheral_IRM"
endif 

config PERIPHERAL_EXAMPLE_LPM
    bool "Peripheral_LPM"

config PERIPHERAL_EXAMPLE_PWM
    bool "Peripheral_PWM"

config PERIPHERAL_EXAMPLE_QSPI
    bool "Peripheral_QSPI"

config PERIPHERAL_EXAMPLE_RTC
    bool "Peripheral_RTC"

config PERIPHERAL_EXAMPLE_SADC
    bool "Peripheral_SADC"

config PERIPHERAL_EXAMPLE_SWI
    bool "Peripheral_SWI"

config PERIPHERAL_EXAMPLE_SLOW_TIMER
    bool "Peripheral_SLOW_TIMER"

config PERIPHERAL_EXAMPLE_TIMER
    bool "Peripheral_TIMER"

config PERIPHERAL_EXAMPLE_UART
    bool "Peripheral_UART"

config PERIPHERAL_EXAMPLE_WDT
    bool "Peripheral_WDT"

if  RT584HA4 || RT584H || RT584L || RF1301
config PERIPHERAL_EXAMPLE_OTP
    bool "Peripheral_OTP"
endif

endchoice

choice 
    prompt "Select Example"
    default PER_CRYPTO_AES128_CBC

if PERIPHERAL_EXAMPLE_AUX

config PER_AUX_NORMAL
    bool "aux-normal"

config PER_AUX_NORMAL_COUNTER
    bool "aux-normal-counter"

config PER_AUX_SLEEP
    bool "aux-sleep"

config PER_AUX_SLEEP_COUNTER
    bool "aux-sleep-counter"

config PER_AUX_DEEPSLEEP
       bool "aux-deepsleep"

config PER_AUX_DEEPSLEEP_COUNTER
    bool "aux-deepsleep-counter"

config PER_AUX_DEEPSLEEP_LEVEL
    bool "aux-deepsleep-level"

endif # AUX

if PERIPHERAL_EXAMPLE_BOD

config PER_BOD_NORMAL
    bool "bod-normal"

config PER_BOD_NORMAL_COUNTER
    bool "bod-normal-counter"

config PER_BOD_SLEEP
    bool "bod-sleep"

config PER_BOD_SLEEP_COUNTER
    bool "bod-sleep-counter"

config PER_BOD_DEEPSLEEP
    bool "bod-deepsleep"

config PER_BOD_DEEPSLEEP_COUNTER
    bool "bod-deepsleep-counter"

config PER_BOD_DEEPSLEEP_LEVEL
    bool "bod-deepsleep-level"

endif # BOD

if PERIPHERAL_EXAMPLE_COMP

config PER_COMPARATOR
	bool "comparator"

endif # COMP

if PERIPHERAL_EXAMPLE_CRYPTO

config  PER_CRYPTO_AES128_CBC
    bool "crypto_aes128_cbc"

config  PER_CRYPTO_AES128_CTR
    bool "crypto_aes128_ctr"

config PER_CRYPTO_AES128_DECRYPT
    bool "crypto_aes128_decrypt" 

config PER_CRYPTO_AES128_ENCRYPT
    bool "crypto_aes128_encrypt" 

config  PER_CRYPTO_AES192_CTR
    bool "crypto_aes192_ctr"

config PER_CRYPTO_AES256_DECRYPT
    bool "crypto_aes256_decrypt" 

config PER_CRYPTO_AES256_ENCRYPT
    bool "crypto_aes256_encrypt" 

config PER_CRYPTO_CCM
    bool "crypto_ccm" 

config PER_CRYPTO_CTR_DRBG
    bool "crypto_ctr_drbg" 

config PER_CRYPTO_CURVE_C25519_1
    bool "crypto_curve_c25519_1" 

config PER_CRYPTO_CURVE_C25519_2
    bool "crypto_curve_c25519_2"     

config PER_CRYPTO_ECC_GF2M_BL163_1
    bool "crypto_ecc_gf2m_b163_1" 

config PER_CRYPTO_ECC_GF2M_BL163_2
    bool "crypto_ecc_gf2m_b163_2"     

config PER_CRYPTO_ECC_GFP_192
    bool "crypto_ecc_gfp_192" 

config PER_CRYPTO_ECC_GFP_192_ECDH
    bool "crypto_ecc_gfp_192_ecdh" 

config PER_CRYPTO_ECC_GFP_256_ECDH
    bool "crypto_ecc_gfp_p256_ecdh" 

config PER_CRYPTO_ECDSA
    bool "crypto_ecdsa"

config PER_CRYPTO_ECJPAKE
    bool "crypto_ecjpake"

config PER_CRYPTO_HMAC
    bool "crypto_hmac"

config PER_CRYPTO_HKDF
    bool "crypto_hkdf"

if RF1301 || RT584H ||  RT584HA4 || RT584L

config PER_CRYPTO_HMAC_DRBG
    bool "crypto_hmac_drbg"

config PER_CRYPTO_PBKDF2
    bool "crypto_pbkdf2"

config PER_CRYPTO_ECC_GFP_256
    bool "crypto_ecc_gfp_p256" 

config PER_CRYPTO_ECC_GFP_256_ADD
    bool "crypto_ecc_gfp_p256_add" 

config PER_CRYPTO_MISC
    bool "crypto_misc"

config PER_CRYPTO_SM2
    bool "crypto_sm2"

config PER_CRYPTO_SM3
    bool "crypto_sm3"

config PER_CRYPTO_SM4
    bool "crypto_sm4"

endif

endif # CRYPTO

if PERIPHERAL_EXAMPLE_DMA

config PER_DMA_INTERRUPT
    bool "dma_interrupt"

config PER_DMA_POLLING
    bool "dma_polling"

if RT581 || RT582 || RT583

config PER_DMA_LINK_LIST
    bool "dma_link_list"
endif

endif # DMA

if PERIPHERAL_EXAMPLE_FLASH

config PER_FLASH
    bool "flash"

config PER_FLASH_DATASET
    bool "flash_dataset"

config PER_FLASH_WNBYTE
    bool "flash_wnbytes"

endif # FLASH

if PERIPHERAL_EXAMPLE_GPIO
        
config PER_GPIO_INPUT
    bool "gpio-input"

config PER_GPIO_INTERRUPT
    bool "gpio-interrupt"

config PER_GPIO_OUTPUT
    bool "gpio-output"

if  RT584HA4 || RT584H || RT584L || RF1301
config PER_GPIO_WAKEUP_DEEP_POWER_DOWN
    bool "gpio-wakeup-deep-power-down"
endif 

config PER_GPIO_WAKEUP_DEEP_SLEEP
    bool "gpio-wakeup-deep-sleep"

config PER_GPIO_WAKEUP_SLEEP
    bool "gpio-wakeup-sleep"

endif # GPIO

if PERIPHERAL_EXAMPLE_I2C

config PER_I2C_MASTER
    bool "i2c-master"

if RF1301 || RT584H ||  RT584HA4 || RT584L
config PER_I2C_SLAVE
    bool "i2c-slave"
endif 

endif # I2C

if PERIPHERAL_EXAMPLE_I2S

config PER_I2S_LOOPBACK
    bool "i2s-loopback"

config PER_I2S_MIC
    bool "i2s-mic"

endif # I2S


if PERIPHERAL_EXAMPLE_IRM

config PER_IRM_NEC
    bool "irm-nec"

config PER_IRM_RC6
    bool "irm-rc6"

config PER_IRM_SIRC
    bool "irm-sirc"

endif # IRM

if PERIPHERAL_EXAMPLE_LPM

if RF1301 || RT584H ||  RT584HA4 || RT584L

config PER_LPM_POWER_DOWN

    bool "lpm_power_down"

endif

config PER_LPM_SLEEP
    bool "lpm_sleep"

config PER_LPM_DEEP_SLEEP
    bool "lpm_deep_sleep"

config PER_SLEEP
	bool "sleep"

endif # low power mode

if PERIPHERAL_EXAMPLE_PWM

config PER_PWM_FMT1_DUTY
	bool "pwm_fmt1_duty"

config PER_PWM_FMT0_DUTY
	bool "pwm_fmt0_duty"

config PER_PWM_MULTI_FMT1_DUTY
	bool "pwm_multi_fmt1_duty"

config PER_PWM_MULTI_FMT0_DUTY
	bool "pwm_multi_fmt0_duty"

endif # PWM

if PERIPHERAL_EXAMPLE_QSPI

config SPI_ACCESS_FLASH
    bool "qspi access flash"

config SPI_LOOPBACK
    bool "spi loopback"

config SPI_DMA_MASTER
    bool "qspi dma master"

config SPI_DMA_SLAVE
    bool "qspi dma slave"

config SPI_PIO_MASTER
    bool "qspi polling master"

config SPI_PIO_SLAVE
    bool "qspi polling slave"

if  RT584HA4 || RT584H || RF1301 || RT584L
config SPI_E_PAPER
    bool "qspi_epaper"
endif

endif # QSPI

if PERIPHERAL_EXAMPLE_RTC

config PER_RTC_EVENT
    bool "rtc-event"

config PER_RTC_EVERYTIME
    bool "rtc-everytime"

config PER_RTC_MATCHTIME
    bool "rtc-matchtime"

config PER_RTC_WAKEUP_SLEEP
    bool "rtc-wakeup-sleep"

config PER_RTC_WAKEUP_DEEP_SLEEP
    bool "rtc-wakeup-deep-sleep"

endif # RTC

if PERIPHERAL_EXAMPLE_SADC

config PER_SADC
    bool "sadc"
endif # SADC

if PERIPHERAL_EXAMPLE_SWI

config PER_SWI
    bool "swi"
endif # swi

if PERIPHERAL_EXAMPLE_SLOW_TIMER

config PER_SLOW_TIMER_FREERUN_DOWNCOUNT
    bool "slow-timer-freerun-downcount"

if RF1301 || RT584H ||  RT584HA4 || RT584L
config PER_SLOW_TIMER_FREERUN_UPCOUNT
    bool "slow-timer-freerun-upcount"

config PER_SLOW_TIMER_ONESHOT
    bool "slow-timer-oneshot"
endif # RF1301 || RT584H ||  RT584HA4 || RT584L
config PER_SLOW_TIMER_PERIODIC
    bool "slow-timer-periodic"

config PER_SLOW_TIMER_REPEAT_DELAY
    bool "slow-timer-repeat-delay"

if RF1301 || RT584H ||  RT584HA4 || RT584L
config PER_SLOW_TIMER_USER_PRESCALE
    bool "slow-timer-user-prescale"
endif # RF1301 || RT584H ||  RT584HA4 || RT584L
endif #Slow Timer

if PERIPHERAL_EXAMPLE_TIMER

config PER_TIMER_FREERUN_DOWNCOUNT
    bool "timer-freerun-downcount"

if RF1301 || RT584H ||  RT584HA4 || RT584L
config PER_TIMER_FREERUN_UPCOUNT
    bool "timer-freerun-upcount"

config PER_TIMER_ONESHOT
    bool "timer-oneshot"
endif # RF1301 || RT584H ||  RT584HA4 || RT584L

config PER_TIMER_PERIODIC
    bool "timer-periodic"

if RF1301 || RT584H ||  RT584HA4 || RT584L
config PER_TIMER_PWM
    bool "timer-pwm"

config PER_TIMER_CAPTURE
    bool "timer-capture"

config PER_TIMER_USER_PRESCALE
    bool "timer-user-prescale"
endif # RF1301 || RT584H ||  RT584HA4 || RT584L
endif # Timer

if PERIPHERAL_EXAMPLE_UART

config PER_UART1_DMA_IT_LOOPBACK
	bool "uart1_dma_it_loopback"

config PER_UART1_DMA_LOOPBACK
	bool "uart1_dma_loopback"

config PER_UART1_HWFLOW_LOOPBACK
	bool "uart1_hwflow_loopback"

config PER_UART1_LOOPBACK
	bool "uart1_loopback"

config PER_UART1_UART2_DMA_LOOPBACK
	bool "uart1_uart2_loopback"

endif # UART

if PERIPHERAL_EXAMPLE_WDT

config PER_WDT_INTERRUPT
    bool "wdt-interrupt"

config PER_WDT_RESET
    bool "wdt-reset"

endif # Watch dog timer


if RF1301 || RT584H ||  RT584HA4 || RT584L

if PERIPHERAL_EXAMPLE_OTP
config PER_OTP_READ
  bool "otp_read"

config PER_OTP_WRITE
  bool "otp_write"

config PER_OTP_RAND_NUMBER
bool "otp_rand_number"

endif # One time program

endif # oTP



endchoice

endmenu



if PER_AUX_NORMAL
source "examples/peripheral/aux-comp/aux-normal/Kconfig"
endif

if PER_AUX_NORMAL_COUNTER
source "examples/peripheral/aux-comp/aux-normal-counter/Kconfig"
endif

if PER_AUX_SLEEP
source "examples/peripheral/aux-comp/aux-sleep/Kconfig"
endif

if PER_AUX_SLEEP_COUNTER
source "examples/peripheral/aux-comp/aux-sleep-counter/Kconfig"
endif

if PER_AUX_DEEPSLEEP
source "examples/peripheral/aux-comp/aux-deepsleep/Kconfig"
endif

if PER_AUX_DEEPSLEEP_COUNTER
source "examples/peripheral/aux-comp/aux-deepsleep-counter/Kconfig"
endif

if PER_AUX_DEEPSLEEP_LEVEL
source "examples/peripheral/aux-comp/aux-deepsleep-level/Kconfig"
endif

if PER_BOD_NORMAL
source "examples/peripheral/bod-comp/bod-normal/Kconfig"
endif

if PER_BOD_NORMAL_COUNTER
source "examples/peripheral/bod-comp/bod-normal-counter/Kconfig"
endif

if PER_BOD_SLEEP
source "examples/peripheral/bod-comp/bod-sleep/Kconfig"
endif

if PER_BOD_SLEEP_COUNTER
source "examples/peripheral/bod-comp/bod-sleep-counter/Kconfig"
endif

if PER_BOD_DEEPSLEEP
source "examples/peripheral/bod-comp/bod-deepsleep/Kconfig"
endif

if PER_BOD_DEEPSLEEP_COUNTER
source "examples/peripheral/bod-comp/bod-deepsleep-counter/Kconfig"
endif

if PER_BOD_DEEPSLEEP_LEVEL
source "examples/peripheral/bod-comp/bod-deepsleep-level/Kconfig"
endif

if PER_GPIO_INPUT
source "examples/peripheral/gpio/gpio-input/Kconfig"
endif

if PER_GPIO_INTERRUPT
source "examples/peripheral/gpio/gpio-interrupt/Kconfig"
endif

if PER_GPIO_OUTPUT
source "examples/peripheral/gpio/gpio-output/Kconfig"
endif

if PER_GPIO_WAKEUP_DEEP_POWER_DOWN
source "examples/peripheral/gpio/gpio-wakeup-deep-power-down/Kconfig"
endif

if PER_GPIO_WAKEUP_DEEP_SLEEP
source "examples/peripheral/gpio/gpio-wakeup-deep-sleep/Kconfig"
endif

if PER_GPIO_WAKEUP_SLEEP
source "examples/peripheral/gpio/gpio-wakeup-sleep/Kconfig"
endif

if PER_I2C_MASTER
source "examples/peripheral/i2c/i2c-master/Kconfig"
endif

if PER_I2C_SLAVE
source "examples/peripheral/i2c/i2c-slave/Kconfig"
endif

if PER_I2S_LOOPBACK
source "examples/peripheral/i2s/i2s-loopback/Kconfig"
endif

if PER_I2S_MIC
source "examples/peripheral/i2s/i2s-mic/Kconfig"
endif

if PER_IRM_NEC
source "examples/peripheral/irm/irm-nec/Kconfig"
endif

if PER_IRM_RC6
source "examples/peripheral/irm/irm-rc6/Kconfig"
endif

if PER_IRM_SIRC
source "examples/peripheral/irm/irm-sirc/Kconfig"
endif

if PER_RTC_EVENT
source "examples/peripheral/rtc/rtc-event/Kconfig"
endif

if PER_RTC_EVERYTIME
source "examples/peripheral/rtc/rtc-everytime/Kconfig"
endif

if PER_RTC_MATCHTIME
source "examples/peripheral/rtc/rtc-matchtime/Kconfig"
endif

if PER_RTC_WAKEUP_SLEEP
source "examples/peripheral/rtc/rtc-wakeup-sleep/Kconfig"
endif

if PER_RTC_WAKEUP_DEEP_SLEEP
source "examples/peripheral/rtc/rtc-wakeup-deep-sleep/Kconfig"
endif


if PER_SADC
source "examples/peripheral/sadc/sadc/Kconfig"
endif

if PER_SLOW_TIMER_FREERUN_DOWNCOUNT
source "examples/peripheral/slow-timer/slow-timer-freerun-downcount/Kconfig"
endif

if PER_SLOW_TIMER_FREERUN_UPCOUNT
source "examples/peripheral/slow-timer/slow-timer-freerun-upcount/Kconfig"
endif

if PER_SLOW_TIMER_ONESHOT
source "examples/peripheral/slow-timer/slow-timer-oneshot/Kconfig"
endif

if PER_SLOW_TIMER_PERIODIC
source "examples/peripheral/slow-timer/slow-timer-periodic/Kconfig"
endif

if PER_SLOW_TIMER_REPEAT_DELAY
source "examples/peripheral/slow-timer/slow-timer-repeat-delay/Kconfig"
endif

if PER_SLOW_TIMER_USER_PRESCALE
source "examples/peripheral/slow-timer/slow-timer-user-prescale/Kconfig"
endif

if PER_TIMER_CAPTURE
source "examples/peripheral/timer/timer-capture/Kconfig"
endif

if PER_TIMER_FREERUN_DOWNCOUNT
source "examples/peripheral/timer/timer-freerun-downcount/Kconfig"
endif

if PER_TIMER_FREERUN_UPCOUNT
source "examples/peripheral/timer/timer-freerun-upcount/Kconfig"
endif

if PER_TIMER_ONESHOT
source "examples/peripheral/timer/timer-oneshot/Kconfig"
endif

if PER_TIMER_PERIODIC
source "examples/peripheral/timer/timer-periodic/Kconfig"
endif

if PER_TIMER_PWM
source "examples/peripheral/timer/timer-pwm/Kconfig"
endif

if PER_TIMER_USER_PRESCALE
source "examples/peripheral/timer/timer-user-prescale/Kconfig"
endif

if PER_WDT_INTERRUPT
source "examples/peripheral/wdt/wdt-interrupt/Kconfig"
endif

if PER_WDT_RESET
source "examples/peripheral/wdt/wdt-reset/Kconfig"
endif

if PER_FLASH
source "examples/peripheral/flash/flash/Kconfig"
endif

if PER_FLASH_DATASET
source "examples/peripheral/flash/flash_dataset/Kconfig"
endif

if PER_FLASH_WNBYTE
source "examples/peripheral/flash/flash_wnbytes/Kconfig"
endif

if PER_SWI
#source "examples/peripheral/swi/swi/Kconfig"
endif

if PER_DMA_INTERRUPT
source "examples/peripheral/dma/dma_interrupt/Kconfig"
endif

if PER_DMA_POLLING
source "examples/peripheral/dma/dma_polling/Kconfig"
endif

if PER_DMA_LINK_LIST
source "examples/peripheral/dma/dma_link_list/Kconfig"
endif

if PER_CRYPTO_AES128_CBC
source "examples/peripheral/crypto/crypto_aes128_cbc/Kconfig"
endif

if PER_CRYPTO_AES128_CTR
source "examples/peripheral/crypto/crypto_aes128_cbc/Kconfig"
endif

if PER_CRYPTO_AES128_DECRYPT
source "examples/peripheral/crypto/crypto_aes128_decrypt/Kconfig"
endif

if PER_CRYPTO_AES128_ENCRYPT
source "examples/peripheral/crypto/crypto_aes128_encrypt/Kconfig"
endif

if PER_CRYPTO_AES192_CTR
source "examples/peripheral/crypto/crypto_aes192_ctr/Kconfig"
endif

if PER_CRYPTO_AES256_DECRYPT
source "examples/peripheral/crypto/crypto_aes256_decrypt/Kconfig"
endif

if PER_CRYPTO_AES256_ENCRYPT
source "examples/peripheral/crypto/crypto_aes256_encrypt/Kconfig"
endif

if PER_CRYPTO_CCM
source "examples/peripheral/crypto/crypto_ccm/Kconfig"
endif

if PER_CRYPTO_CTR_DRBG
source "examples/peripheral/crypto/crypto_ctr_drbg/Kconfig"
endif

if PER_CRYPTO_CURVE_C25519_1
source "examples/peripheral/crypto/crypto_curve_c25519_1/Kconfig"
endif

if PER_CRYPTO_CURVE_C25519_2
source "examples/peripheral/crypto/crypto_curve_c25519_2/Kconfig"
endif

if PER_CRYPTO_ECC_GF2M_BL163_1
source "examples/peripheral/crypto/crypto_ecc_gf2m_b163_1/Kconfig"
endif

if PER_CRYPTO_ECC_GF2M_BL163_2
source "examples/peripheral/crypto/crypto_ecc_gf2m_b163_2/Kconfig"
endif

if PER_CRYPTO_ECC_GFP_192
source "examples/peripheral/crypto/crypto_ecc_gfp_192/Kconfig"
endif

if PER_CRYPTO_ECC_GFP_192_ECDH
source "examples/peripheral/crypto/crypto_ecc_gfp_192_ecdh/Kconfig"
endif

if PER_CRYPTO_ECC_GFP_256
source "examples/peripheral/crypto/crypto_ecc_gfp_p256/Kconfig"
endif

if PER_CRYPTO_ECC_GFP_256_ADD
source "examples/peripheral/crypto/crypto_ecc_gfp_p256_add/Kconfig"
endif

if PER_CRYPTO_ECC_GFP_256_ECDH
source "examples/peripheral/crypto/crypto_ecc_gfp_p256_ecdh/Kconfig"
endif

if PER_CRYPTO_ECDSA
source "examples/peripheral/crypto/crypto_ecdsa/Kconfig"
endif

if PER_CRYPTO_ECJPAKE
source "examples/peripheral/crypto/crypto_ecjpake/Kconfig"
endif

if PER_CRYPTO_HMAC_DRBG
source "examples/peripheral/crypto/crypto_hmac_drbg/Kconfig"
endif

if PER_CRYPTO_MISC
source "examples/peripheral/crypto/crypto_misc/Kconfig"
endif

if PER_CRYPTO_PBKDF2
source "examples/peripheral/crypto/crypto_pbkdf2/Kconfig"
endif

if PER_CRYPTO_HMAC
source "examples/peripheral/crypto/crypto_hmac/Kconfig"
endif

if PER_CRYPTO_HKDF
source "examples/peripheral/crypto/crypto_hkdf/Kconfig"
endif

if PER_CRYPTO_SM2
source "examples/peripheral/crypto/crypto_sm2/Kconfig"
endif

if PER_CRYPTO_SM3
source "examples/peripheral/crypto/crypto_sm3/Kconfig"
endif

if PER_CRYPTO_SM4
source "examples/peripheral/crypto/crypto_sm4/Kconfig"
endif

if PER_CRYPTO_AES128_DECRYPT
source "examples/peripheral/crypto/crypto_aes128_decrypt/Kconfig"
endif

if PER_PWM_FMT1_DUTY
source "examples/peripheral/pwm/pwm_fmt1_duty/Kconfig"
endif

if PER_PWM_FMT0_DUTY
source "examples/peripheral/pwm/pwm_fmt0_duty/Kconfig"
endif

if PER_PWM_MULTI_FMT1_DUTY
source "examples/peripheral/pwm/pwm_multi_fmt1_duty/Kconfig"
endif

if PER_PWM_MULTI_FMT0_DUTY
source "examples/peripheral/pwm/pwm_multi_fmt0_duty/Kconfig"
endif

if PER_UART1_DMA_IT_LOOPBACK
source "examples/peripheral/uart/uart1_dma_it_loopback/Kconfig"
endif

if PER_UART1_DMA_LOOPBACK
source "examples/peripheral/uart/uart1_dma_loopback/Kconfig"
endif

if PER_UART1_HWFLOW_LOOPBACK
source "examples/peripheral/uart/uart1_hwflow_loopback/Kconfig"
endif

if PER_UART1_LOOPBACK
source "examples/peripheral/uart/uart1_loopback/Kconfig"
endif

if PER_UART1_UART2_DMA_LOOPBACK
source "examples/peripheral/uart/uart1_uart2_loopback/Kconfig"
endif

if PER_SLEEP
source "examples/peripheral/lpm/sleep/Kconfig"
endif

if PER_LPM_SLEEP
source "examples/peripheral/lpm/lpm_sleep/Kconfig"
endif

if PER_LPM_DEEP_SLEEP
source "examples/peripheral/lpm/lpm_deep_sleep/Kconfig"
endif

if PER_LPM_POWER_DOWN
source "examples/peripheral/lpm/lpm_power_down/Kconfig"
endif

if SPI_ACCESS_FLASH
source "examples/peripheral/qspi/qspi_access_flash/Kconfig"
endif 

if SPI_E_PAPER
source "examples/peripheral/qspi/qspi_epaper/Kconfig"
endif 

if SPI_LOOPBACK
source "examples/peripheral/qspi/qspi_dma_loopback/Kconfig"
endif 

if SPI_DMA_MASTER
source "examples/peripheral/qspi/qspi_dma_master/Kconfig"
endif

if SPI_DMA_SLAVE
source "examples/peripheral/qspi/qspi_dma_slave/Kconfig"
endif

if SPI_PIO_MASTER
source "examples/peripheral/qspi/qspi_pio_master/Kconfig"
endif

if SPI_PIO_SLAVE
source "examples/peripheral/qspi/qspi_pio_slave/Kconfig"
endif

if PER_COMPARATOR
source "examples/peripheral/comp/comparator/Kconfig"
endif


if PER_OTP_READ
source "examples/peripheral/otp/otp_read/Kconfig"
endif

if PER_OTP_WRITE
source "examples/peripheral/otp/otp_write/Kconfig"
endif

if PER_OTP_RAND_NUMBER
source "examples/peripheral/otp/otp_rand_number/Kconfig"
endif
