menu "BLE ROLE TYPE"

choice ROLE_TYPE
	prompt "ROLE"
    default BLE_PERIPHERAL_ROLE

config BLE_PERIPHERAL_ROLE
    bool "BLE_PERIPHERAL_ROLE"

config BLE_CENTRAL_ROLE
    bool "BLE_CENTRAL_ROLE"

config BLE_MULTI_LINK
    bool "BLE_MULTI_LINK"

config BLE_OTHERS
    bool "BLE_OTHERS"

config BLE_MESH
    bool "BLE_MESH"

endchoice

choice 
    prompt "Select Example"
    default PERIPH_HEART_RATE

if BLE_PERIPHERAL_ROLE
config PERIPH_HEART_RATE
    bool "periph-hrs"
    select BUILD_COMPONENT_BLUETOOTH
    select BUILD_COMPONENT_BLUETOOTH_LE_HOST
    select BLUETOOTH_LE_SERVICE_GAP
    select BLUETOOTH_LE_SERVICE_DIS
    select BLUETOOTH_LE_SERVICE_GATT
    select BLUETOOTH_LE_SERVICE_BAS
    select BLUETOOTH_LE_SERVICE_HRS

config PERIPH_HOGP
    bool "periph-hogp"
    select BUILD_COMPONENT_BLUETOOTH
    select BUILD_COMPONENT_BLUETOOTH_LE_HOST
    select BLUETOOTH_LE_SERVICE_GAP
    select BLUETOOTH_LE_SERVICE_DIS
    select BLUETOOTH_LE_SERVICE_GATT
    select BLUETOOTH_LE_SERVICE_BAS
    select BLUETOOTH_LE_SERVICE_HID

config PERIPH_TRSP
    bool "periph-trsp"
    select BUILD_COMPONENT_BLUETOOTH
    select BUILD_COMPONENT_BLUETOOTH_LE_HOST
    select BLUETOOTH_LE_SERVICE_GAP
    select BLUETOOTH_LE_SERVICE_DIS
    select BLUETOOTH_LE_SERVICE_GATT
    select BLUETOOTH_LE_SERVICE_TRSP

config PERIPH_TRSP_FOTA
    bool "periph-trsp-fota"
    select BUILD_COMPONENT_BLUETOOTH
    select BUILD_COMPONENT_BLUETOOTH_LE_HOST
    select BLUETOOTH_LE_SERVICE_GAP
    select BLUETOOTH_LE_SERVICE_DIS
    select BLUETOOTH_LE_SERVICE_GATT
    select BLUETOOTH_LE_SERVICE_TRSP
    select BLUETOOTH_LE_SERVICE_FOTA

config PERIPH_DATA_RATE
    bool "periph-data-rate"
    select BUILD_COMPONENT_BLUETOOTH
    select BUILD_COMPONENT_BLUETOOTH_LE_HOST
    select BLUETOOTH_LE_SERVICE_GAP
    select BLUETOOTH_LE_SERVICE_DIS
    select BLUETOOTH_LE_SERVICE_GATT
    select BLUETOOTH_LE_SERVICE_TRSP

config PERIPH_ESL
    bool "periph-esl"
    select BUILD_COMPONENT_BLUETOOTH
    select BUILD_COMPONENT_BLUETOOTH_LE_HOST
    select BLUETOOTH_LE_SERVICE_GAP
    select BLUETOOTH_LE_SERVICE_DIS
    select BLUETOOTH_LE_SERVICE_GATT
    select BLUETOOTH_LE_SERVICE_ESLS
    select BLUETOOTH_LE_SERVICE_OTS
endif # BLE_PERIPHERAL_ROLE

if BLE_CENTRAL_ROLE
config CENTRAL_DATA_RATE
    bool "central-data-rate"
    select BUILD_COMPONENT_BLUETOOTH
    select BUILD_COMPONENT_BLUETOOTH_LE_HOST
    select BLUETOOTH_LE_SERVICE_GAP
    select BLUETOOTH_LE_SERVICE_DIS
    select BLUETOOTH_LE_SERVICE_GATT
    select BLUETOOTH_LE_SERVICE_TRSP

config CENTRAL_TRSP
    bool "central-trsp"
    select BUILD_COMPONENT_BLUETOOTH
    select BUILD_COMPONENT_BLUETOOTH_LE_HOST
    select BLUETOOTH_LE_SERVICE_GAP
    select BLUETOOTH_LE_SERVICE_DIS
    select BLUETOOTH_LE_SERVICE_GATT
    select BLUETOOTH_LE_SERVICE_TRSP

config CENTRAL_ESL_AP
    bool "central-esl-ap"
    select BUILD_COMPONENT_BLUETOOTH
    select BUILD_COMPONENT_BLUETOOTH_LE_HOST
    select BLUETOOTH_LE_SERVICE_GAP
    select BLUETOOTH_LE_SERVICE_DIS
    select BLUETOOTH_LE_SERVICE_GATT
    select BLUETOOTH_LE_SERVICE_ESLS
    select BLUETOOTH_LE_SERVICE_OTS

endif # BLE_CENTRAL_ROLE

if BLE_MULTI_LINK
config MULTI_1C1P
    bool "multi-1C1P"
    select BUILD_COMPONENT_BLUETOOTH
    select BUILD_COMPONENT_BLUETOOTH_LE_HOST
    select BLUETOOTH_LE_SERVICE_GAP
    select BLUETOOTH_LE_SERVICE_DIS
    select BLUETOOTH_LE_SERVICE_GATT
    select BLUETOOTH_LE_SERVICE_TRSP

config POWER_MANAGEMENT
    bool "power-management"
    select BUILD_COMPONENT_BLUETOOTH
    select BUILD_COMPONENT_BLUETOOTH_LE_HOST
    select BLUETOOTH_LE_SERVICE_GAP
    select BLUETOOTH_LE_SERVICE_DIS
    select BLUETOOTH_LE_SERVICE_GATT
    select BLUETOOTH_LE_SERVICE_TRSP
endif # BLE_MULTI_LINK

if BLE_OTHERS
config AT_COMMAND
    bool "at-command"
    select BUILD_COMPONENT_BLUETOOTH
    select BUILD_COMPONENT_BLUETOOTH_LE_HOST
    select BLUETOOTH_LE_SERVICE_GAP
    select BLUETOOTH_LE_SERVICE_DIS
    select BLUETOOTH_LE_SERVICE_GATT
    select BLUETOOTH_LE_SERVICE_TRSP

config IBEACON
    bool "ibeacon"
    select BUILD_COMPONENT_BLUETOOTH
    select BUILD_COMPONENT_BLUETOOTH_LE_HOST
    select BLUETOOTH_LE_SERVICE_GAP
    select BLUETOOTH_LE_SERVICE_DIS
    select BLUETOOTH_LE_SERVICE_GATT

endif # BLE_OTHERS

if BLE_MESH
config LIGHTNESS_TRSP
    bool "lightness-trsp"
    select BUILD_COMPONENT_BLUETOOTH
    select BUILD_COMPONENT_BLUETOOTH_LE_HOST
    select BLUETOOTH_LE_SERVICE_GAP
    select BLUETOOTH_LE_SERVICE_DIS
    select BLUETOOTH_LE_SERVICE_GATT
    select BLUETOOTH_LE_SERVICE_MESH
    select BLUETOOTH_LE_SERVICE_FOTA
    select BLUETOOTH_LE_SERVICE_TRSP
    select BUILD_COMPONENT_BLUETOOTH_LE_MESH
    select BLUETOOTH_LE_MESH_MODEL_LIGHTING_LIGHTNESS
    select BLUETOOTH_LE_MESH_MODEL_GENERICS_ONOFF
    select BLUETOOTH_LE_MESH_MODEL_GENERICS_LEVEL
    select BLUETOOTH_LE_MESH_MODEL_SCENE
    select BLUETOOTH_LE_MESH_MODEL_VENDOR
    select BLUETOOTH_LE_MESH_MODEL_SERVER
    select SUPPORT_MESH_SERVER

config GATEWAY
    bool "gateway"
    select BUILD_COMPONENT_BLUETOOTH
    select BUILD_COMPONENT_BLUETOOTH_LE_HOST
    select BLUETOOTH_LE_SERVICE_GAP
    select BLUETOOTH_LE_SERVICE_DIS
    select BLUETOOTH_LE_SERVICE_GATT
    select BLUETOOTH_LE_SERVICE_MESH
    select BLUETOOTH_LE_SERVICE_TRSP
    select BUILD_COMPONENT_BLUETOOTH_LE_MESH
    select BLUETOOTH_LE_MESH_MODEL_CLIENT
    select SUPPORT_MESH_CLIENT

endif # BLE_MESH

endchoice
endmenu