choice 
    prompt "Select Example"
    default SUBG_SAMPLE

    config SUBG_SAMPLE
        bool "subg-sample"
    
    config SUBG_TRX
        bool "subg-trx"
       
    config SUBG_WAKE_ON_RADIO
        bool "subg-wake-on-radio"

    config MESH_IT_UP_EAMPLE
        bool "mesh-it-up"

endchoice

if MESH_IT_UP_EAMPLE

choice MESH_IT_UP_EXAMPLE
    prompt "Mesh-it-up Example"
    default MESH_IT_UP_FTD

    config MESH_IT_UP_FTD
        bool "miu-ftd"

    config MESH_IT_UP_MTD
        bool "miu-mtd"

    config MESH_IT_UP_SNIFFER
        bool "miu-sniffer"

    config MESH_IT_UP_TEST
        bool "miu-test (JSON register test device)"

endchoice
endif

if SUBG_SAMPLE
source "examples/sub-g/subg-sample/Kconfig"
endif

if SUBG_TRX
source "examples/sub-g/subg-trx/Kconfig"
endif

if SUBG_WAKE_ON_RADIO
source "examples/sub-g/subg-wake-on-radio/Kconfig"
endif

if MESH_IT_UP_FTD
source "examples/sub-g/mesh-it-up/miu-ftd/Kconfig"
endif

if MESH_IT_UP_MTD
source "examples/sub-g/mesh-it-up/miu-mtd/Kconfig"
endif

if MESH_IT_UP_SNIFFER
source "examples/sub-g/mesh-it-up/miu-sniffer/Kconfig"
endif

if MESH_IT_UP_TEST
source "examples/sub-g/mesh-it-up/miu-test/Kconfig"
endif