choice 
    prompt "Select Example"
    default ZIGBEE_GATEWAY_MODULE

    config ZIGBEE_GATEWAY_MODULE
    bool "gateway module"

    config ZIGBEE_LIGHTING_APP
    bool "lighting app"

    config ZIGBEE_SWITCH_APP
    bool "switch"

    config ZIGBEE_DOOR_LOCK_APP
    bool "door-lock"

    config ZIGBEE_DOOR_SENSOR_APP
    bool "door-sensor"

    config ZIGBEE_ILLUMINANCE_SENSOR_APP
    bool "illuminance-sensor"

    config ZIGBEE_PIR_SENSOR_APP
    bool "pir-sensor"

    config ZIGBEE_SMART_PLUG_APP
    bool "smart-plug"

    config ZIGBEE_TEMPERATURE_SENSOR_APP
    bool "temperature-sensor"

    config ZIGBEE_THERMOSTAT_APP
    bool "thermostat"

    config ZIGBEE_WALL_SWITCH_APP
    bool "wall-switch"

endchoice

if ZIGBEE_GATEWAY_MODULE
source "examples/zigbee/gateway-module/Kconfig"
endif

if ZIGBEE_LIGHTING_APP
source "examples/zigbee/lighting-app/Kconfig"
endif 

if ZIGBEE_SWITCH_APP
source "examples/zigbee/switch/Kconfig"
endif

if ZIGBEE_DOOR_LOCK_APP
source "examples/zigbee/door-lock/Kconfig"
endif

if ZIGBEE_DOOR_SENSOR_APP
source "examples/zigbee/door-sensor/Kconfig"
endif

if ZIGBEE_ILLUMINANCE_SENSOR_APP
source "examples/zigbee/illuminance-sensor/Kconfig"
endif

if ZIGBEE_PIR_SENSOR_APP
source "examples/zigbee/pir-sensor/Kconfig"
endif

if ZIGBEE_SMART_PLUG_APP
source "examples/zigbee/smart-plug/Kconfig"
endif

if ZIGBEE_TEMPERATURE_SENSOR_APP
source "examples/zigbee/temperature-sensor/Kconfig"
endif

if ZIGBEE_THERMOSTAT_APP
source "examples/zigbee/thermostat/Kconfig"
endif

if ZIGBEE_WALL_SWITCH_APP
source "examples/zigbee/wall-switch/Kconfig"
endif