menu "SUBG Component"

config BUILD_COMPONENT_SUBG_CTRL
	bool "NETWORK SUBG CTRL"
	default 0
	help
	  apply network subG CTRL component.

if MESH_IT_UP_EAMPLE

config BUILD_COMPONENT_MESH_IT_UP
	bool "NETWORK MESH IT UP"
	select BUILD_COMPONENT_LMAC5P4
	default 0
	help
	  apply network MESH IT UP component.

endif

endmenu

choice SUBG_FREQUENCY
prompt "Frequency Band"
default SUBG_FREQUENCY_BAND_915
config SUBG_FREQUENCY_BAND_915
    bool "915MHz"
config SUBG_FREQUENCY_BAND_868
    bool "868MHz"
config SUBG_FREQUENCY_BAND_470
    bool "470MHz"
config SUBG_FREQUENCY_BAND_433
   	bool "433MHz"
endchoice

choice SUBG_DATA_RATE
prompt "Data Rate"
default SUBG_DATA_RATE_FSK_300K
config SUBG_DATA_RATE_FSK_300K
    bool "FSK 300K"
config SUBG_DATA_RATE_FSK_200K
    bool "FSK 200K"
config SUBG_DATA_RATE_FSK_100K
    bool "FSK 100K"
config SUBG_DATA_RATE_FSK_50K
   	bool "FSK 50K"
config SUBG_DATA_RATE_OQPSK_25K
   	bool "OQPSK 25K"
endchoice

if MESH_IT_UP_EAMPLE

menu "MIU OPENTHREAD TASK SIZE"
config MIU_OPENTHREAD_TASK_SIZE
    int "MIU OPENTHREAD TASK SIZE"
    default 4096
    help
        MIU OPENTHREAD TASK SIZE
endmenu

choice MIU_DEVICE_ROLE
prompt "MIU DEVICE ROLE"
default MIU_DEVICE_TYPE_FTD

config MIU_DEVICE_TYPE_FTD
    bool "FTD (Full Thread Device)"
	depends on MESH_IT_UP_ROUTER || MESH_IT_UP_BLE_ROUTER


config MIU_DEVICE_TYPE_MTD
    bool "MTD (Minimal Thread Device)"
	depends on MESH_IT_UP_SLEEPY || MESH_IT_UP_BLE_SLEEPY


config MIU_DEVICE_TYPE_RCP
    bool "RCP (Sniffer)"
	depends on MESH_IT_UP_SNIFFER
endchoice

endif