if RF1301 || RT584H ||  RT584HA4 || RT584L || RT584H_NONE_OS || RT584L_NONE_OS || RF1301_NONE_OS || RT584HA4_NONE_OS

choice TRUST_ZONE_TYPE
	prompt "Trust Zone Type"
	default TRUST_ZONE_SECURE

config TRUST_ZONE_SECURE
	bool "Trust Zone Secure"
	help
	  TRUST ZONE SECURE.
#config TRUST_ZONE_NONSECURE
#	bool "TRUST ZONE NONSECURE"
#	help
#	  TRUST ZONE NONSECURE.
endchoice

config TRUST_ZONE
    string 
    default "NOT_TRUST_ZONE" if NOT_TRUST_ZONE
    default "TRUST_ZONE_SECURE" if TRUST_ZONE_SECURE
    default "TRUST_ZONE_NONSECURE" if TRUST_ZONE_NONSECURE

menu "Peripheral Securiy"

config AUX_COMP_SECURE_EN
	bool "AUX_COMP_SECURE_EN"
	default y

config BOD_COMP_SECURE_EN
	bool "BOD_COMP_SECURE_EN"
	default y

config COMM_SUBSYSTEM_AHB_SECURE_EN
	bool "COMM_SUBSYSTEM_AHB_SECURE_EN"
	default y

config DMA0_SECURE_EN
	bool "DMA0_SECURE_EN"
	default y

config DMA1_SECURE_EN
	bool "DMA1_SECURE_EN"
	default y

config DPD_SECURE_EN
	bool "DPD_SECURE_EN"
	default y

config FLASHCTRL_SECURE_EN
	bool "FLASHCTRL_SECURE_EN"
	default y

config GPIO_SECURE_EN
	bool "GPIO_SECURE_EN"
	default y

config I2C_MASTER0_SECURE_EN
	bool "I2C_MASTER0_SECURE_EN"
	default y
    
config I2C_MASTER1_SECURE_EN
	bool "I2C_MASTER1_SECURE_EN"
	default y

config I2C_SLAVE_SECURE_EN
	bool "I2C_SLAVE_SECURE_EN"
	default y

config I2S0_SECURE_EN
	bool "I2S0_SECURE_EN"
	default y
    	
config IRM_SECURE_EN
	bool "IRM_SECURE_EN"
	default y

config PWM_SECURE_EN
	bool "PWM_SECURE_EN"
	default y

config QSPI0_SECURE_EN
	bool "QSPI0_SECURE_EN"
	default y

config QSPI1_SECURE_EN
	bool "QSPI1_SECURE_EN"
	default y

config RCO1M_CAL_SECURE_EN
	bool "RCO1M_CAL_SECURE_EN"
	default y

config RCO32K_CAL_SECURE_EN
	bool "RCO32K_CAL_SECURE_EN"
	default y

config RTC_SECURE_EN
	bool "RTC_SECURE_EN"
	default y

config SADC_SECURE_EN
	bool "SADC_SECURE_EN"
	default y

config SLOWTIMER0_SECURE_EN
	bool "SLOWTIMER0_SECURE_EN"
	default y

config SLOWTIMER1_SECURE_EN
	bool "SLOWTIMER1_SECURE_EN"
	default y

config SOC_PMU_SECURE_EN
	bool "SOC_PMU_SECURE_EN"
	default y

config SWI0_SECURE_EN
	bool "SWI0_SECURE_EN"
	default y

config SWI1_SECURE_EN
	bool "SWI0_SECURE_EN"
	default y

config SYSCTRL_SECURE_EN
	bool "SYSCTRL_SECURE_EN"
	default y

config TIMER0_SECURE_EN
	bool "TIMER0_SECURE_EN"
	default y

config TIMER1_SECURE_EN
	bool "TIMER1_SECURE_EN"
	default y

config TIMER2_SECURE_EN
	bool "TIMER2_SECURE_EN"
	default y

config UART0_SECURE_EN
	bool "UART0_SECURE_EN"
	default y
    
config UART1_SECURE_EN
	bool "UART1_SECURE_EN"
	default y

config UART2_SECURE_EN
	bool "UART2_SECURE_EN"
	default y

config WDT_SECURE_EN
	bool "WDT_SECURE_EN"
	default y

config XDMA_SECURE_EN
	bool "XDMA_SECURE_EN"
	default y
    
endmenu

endif

menu "Peripheral"

if RT581 || RT582 || RT583

config PERIPHERAL_COMP
		bool "COMPARATOR"
		default y
endif

config PERIPHERAL_DMA
		bool "DMA"
		default y
		
config PERIPHERAL_PWM
		bool "PWM"
		default y		

config PERIPHERAL_I2S
		bool "I2S"
		default y	

config PERIPHERAL_I2C
		bool "I2C"
		default y

config PERIPHERAL_SPI
		bool "SPI"
		default y
	
config PERIPHERAL_SADC
		bool "SADC"
		default y

config PERIPHERAL_RTC
		bool "RTC"
		default y

config PERIPHERAL_TIMER
		bool "TIMER"
		default y
		
config PERIPHERAL_SWI
		bool "SWI"
		default y		

if RF1301 || RT584H ||  RT584HA4 || RT584L

config PERIPHERAL_AUX_COMP
	bool "AUX_COMPARATOR"
	default y

config PERIPHERAL_BOD_COMP
	bool "BOD_COMPARATOR"
	default y

config PERIPHERAL_IRM
	bool "IRM"
	default y
	
endif

if RF1301 || RT584H ||  RT584HA4 || RT584L

config RCO32K_ENABLE
	bool "rco32k"
	default y
	
config RCO16K_ENABLE
	bool "rco16k"
	default n

endif

config EXTRCO32K_ENABLE
	bool "extrco32k"
	default n

endmenu

