if (RT581 || RT582 || RT583) && EVB
source "config/components/platform/soc/rt582/rt582_evb/ebv.config"
endif # CHIP_TYPE="RT582" && BOARD_TYPE="EVB"

if (RT581 || RT582 || RT583) && DONGLE
source "config/components/platform/soc/rt582/rt582_dongle/dongle.config"
endif # CHIP_TYPE="RT582" && BOARD_TYPE="DONGLE"

if (RF1301 || RT584H ||  RT584HA4 || RT584L) && EVB
source "config/components/platform/soc/rt584/rt584_evb/ebv.config"
endif # CHIP_TYPE="RT581" && BOARD_TYPE="EVB"
